.task_show
  #task_info
    = render partial: 'task_info'
  %h3 评论：
  #comments_content
    = render partial: 'comments'

  - if is_logined?
    #comment_form
      = render partial: 'comment_form'
  - else
    .jumbotron
      %h2
        = link_to '登录', login_path
        后可评论

:javascript
  $(function(){
    $('#task_content_show').html("#{escape_javascript sanitize(markdown_parser(@task.content))}");
  });