.row
  .col-md-2.text-left
    %span.category_avatar
      = avatar_category category
  .p.col-md-10.text-left
    =link_to category.name, category_path(category),class: 'category_name'
    - tasks=get_tasks(category)
    -if !tasks.present?
      %h4 暂时没有此类任务～
    -else 
      - tasks.each do |task|
        .row
          .col-md-7.text-left
            = link_to task.title,task_path(task),target: '_blank',class:'itask_title'
          .col-md-5.text-right.itask-gray
            -timenow=DateTime.now
            -if task.updated_at.year==timenow.year
              -if task.updated_at.month==timenow.month
                -if task.updated_at.day==timenow.day
                  -if task.updated_at.hour==timenow.hour
                    - if task.updated_at.min==timenow.min
                      - if task.updated_at.sec==timenow.sec
                        刚刚
                      - else
                        #{timenow.sec-task.updated_at.sec}秒前
                    - else 
                      #{timenow.min-task.updated_at.min}分钟前
                  -else
                    #{timenow.hour-task.updated_at.hour}个小时前
                -else
                  #{timenow.day-task.updated_at.day}天前
              -else 
                #{timenow.month-task.updated_at.month}个月前
            -else 
              #{timenow.year-task.updated_at.year}年前
      %p.text-right
        =link_to '更多...',category_path(category)
%br
%br
   
