.row
  .col-md-2.text-left
    %span.category_avatar
      = avatar_category category
  .p.col-md-10.text-left
    =link_to category.name, category_path(category),class: 'category_name'
    - tasks=get_tasks(category)
    -if !tasks.present?
      %h4 暂时没有此类任务～
    -else 
      - tasks.each do |task|
        .row
          .col-md-7.text-left
            = link_to task.title,task_path(task),target: '_blank',class:'itask_title'
          .col-md-5.text-right.itask-gray
            -result=get_time(task.updated_at)
            -if result[0]==0
              刚刚
            -if result[0]==1
              #{result[1]}秒前
            -if result[0]==2
              #{result[1]}分钟前
            -if result[0]==3
              #{result[1]}个小时前
            -if result[0]==4
              #{result[1]}天前
            -if result[0]==5
              #{result[1]}个月前
            -if result[0]==6
              #{result[1]}年前
      %p.text-right
        =link_to '更多...',category_path(category)
%br
%br
   
